<div class="jumbotron">
	<h1>Veterans Helping Hands</h1>
	<p>Click here to <%= link_to "Do your part!", "#", class: "btn btn-success btn-lg"  %>

		<%= render 'layouts/carousel' %>
	</p>
	<div class="text-center">
		Three Ways to Give
	</div>
</div>