<!-- Button trigger modal -->
	<div class="container">

	<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
  What We Do
	</button>
	</div>

	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Updates for the newest version</h4>
      </div>
      <div class="modal-body">
        We are a group of veterans who have decided we'd like to do what we can to give back. All of our proceeds go toward helping those currently displaced in Iraq. Anything you can do would make a huge difference in the lives of some really wonderful people.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I'm in!</button>
        <button type="button" class="btn btn-primary">I want to know more!</button>
      </div>
    </div>
  </div>
</div>